.footer {
  background-color: $secondaryBgColor;
  padding: 60px 0 75px;
  color: $footerTextColor;
  &__title {
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &__text {
    font-size: $fsSecondary;
    line-height: $lhthird;
    max-width: 335px;
  }
}

.footer-links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.footer-nav {
  width: 33%;
  &__title {
    font-weight: bold;
    line-height: 1.55;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &:last-child {
    .footer-menu__link {
      font-weight: 400;
    }
  }
}
.footer-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  &__item {
    margin-bottom: 12px;
  }
  &__link {
    text-decoration: none;
    color: $footerTextColor;
    font-weight: bold;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
