
$primaryBgColor: #2A3B40;
$primaryColor: #2A3B40;
$linkHoverColor: #AD6C12;
$whiteColor: #ffffff;
$secondaryBgColor: #D4D8D9;
$menuColor: rgba(255, 255, 255, 0.78);
$inputBgColor: #2A3B40;
$subTitleColor: #AD6C12;
$heroBtnColor: #27363B;
$menuLinkHover: #AD6C12;
$menuItemColor: #304751;
$menuCardColor: #555555;
$linkMoreColor: #FF992B;
$footerTextColor: #2D2F2A;

// fonts
$fontPrimary: 'Raleway', sans-serif;
$fontDecor: 'Cookie', cursive;
$fontRoboto: 'Roboto', sans-serif;

$primaryWF: 400;

$fsH1Title: 104px;
$fsH2Title: 77px;
$fsH3Title: 48px;
$fsH4Title: 29px;
$fsH5Title: 25px;
$fsH6Title: 21px;
$fsPrimary: 17px;
$fsSecondary: 18.75px;
$fsMenuTitle: 18px;

$fsHeader: 35px;

$btnFs: 17px;
$heroBtnFs: 38px;
$fsPrice: 16px;

$lhPrimary: 1;
$lhSecondary: 1.78;
$lhthird: 1.5;

$screen-large: 1024px;
$screenMenu: 880px;
$screen-middle-medium: 768px;
$screen-medium: 638px;
$screen-small: 450px;

$widthWrapper: 1170px;
